html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body, main {
  	flex: 1
    display: flex;
  	text-align: center;
    flex-direction: column;
    justify-content: center;
}
a {
    color: black;
    text-decoration: none;
}
