html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body, main {
    display: flex;
    flex-direction: column;
}
body {
    text-align: center;
}
main {
    flex: 1;
    justify-content: center;
}
a {
    color: black;
    text-decoration: none;
}
