html {
    height: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
}
body {
    text-align: center;
}
a {
    color: black;
    margin: inherit;
    text-decoration: none;
}
h1, h2 {
    overflow: hidden;
    white-space: nowrap;
    animation: name 5s ease infinite;
}
@keyframes name {
    from {
        margin-left: 100%;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}
