a:link, a:visited, a:hover, a:active, a:focus {
    gap: 10%;
    color: black;
    cursor: grab;
    display: flex;
    text-decoration: none;
}
html {
    height: 100%;
    display: flex;
    user-select: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
